[submodule "RendererEngine/glfw"]
	path = RendererEngine/libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "RendererEngine/glew"]
	path = RendererEngine/libs/glew
	url = git@github.com:nigels-com/glew.git
[submodule "imgui"]
	path = RendererEngine/libs/imgui
	url = git@github.com:ocornut/imgui.git
